<div class="container">
	
	<form [ngFormModel]="form" (ngSubmit)="changePassword()">
		<div class="form-group">
			<label for="current-password">Current Password</label>
			<input ngControl="currentPassword" #currentPassword="ngForm" type="password" id="current-password" class="form-control">
			<div *ngIf="currentPassword.touched && currentPassword.errors">
				<div *ngIf="currentPassword.errors.required" class="alert alert-danger">
					Current Password is required.
				</div><!-- /.alert alert-danger -->
				<div *ngIf="currentPassword.errors.isInvalid" class="alert alert-danger">
					Current Password does not match our record.
				</div><!-- /.alert alert-danger -->
			</div>
		</div><!-- /.form-group -->
		<div class="form-group">
			<label for="new-password">New Password</label>
			<input ngControl="newPassword" #newPassword="ngForm" type="password" id="new-password" class="form-control">
			<div *ngIf="newPassword.touched && newPassword.errors">
				<div *ngIf="newPassword.errors.required" class="alert alert-danger">
					New Password is required.
				</div><!-- /.alert alert-danger -->
				<div *ngIf="newPassword.errors.passwordRules" class="alert alert-danger">
					New Password must be {{ newPassword.errors.passwordRules.minlength }} characters minimum.
				</div><!-- /.alert alert-danger -->
			</div>
		</div><!-- /.form-group -->
		<div class="form-group">
			<label for="confirm-password">Confirm Password</label>
			<input ngControl="confirmPassword" #confirmPassword="ngForm" type="password" id="confirm-password" class="form-control">
			<div *ngIf="confirmPassword.touched && !confirmPassword.valid" class="alert alert-danger">
				Confirm Password is required.
			</div><!-- /.alert alert-danger -->
			<div *ngIf="confirmPassword.touched && form.errors && form.errors.passwordsShouldMatch" class="alert alert-danger">
				New and Confirm don't match.
			</div><!-- /.alert alert-danger -->
		</div><!-- /.form-group -->
		<button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
	</form>

</div><!-- /.container -->